body {
      margin: 0;
      font-family: Monospace;
      background: #2b2b2b;
      color: #fff;
      height: 100vh;
}
#console {
      background-color: #1e1e1e;
      padding: 10px;
      color: #00ff00;
      width: 100%;
      height: 100%;
      font-size: 11px;
      margin-bottom: 100px;
      overflow-y: auto;
      border: 1px solid #333;
      font-family: monospace;
      white-space: pre-wrap; /* biar wrap kalau panjang */
      position: relative;
 }
#on {
      background-color: #333;
      color: white;
      width: 15%;
      height: auto;
      font-family: Monospace;
      font-weight: 650;
      border: 1px solid white;
      border-radius: 3px;
      text-align: center;
      font-size: 25px;
      text-align: center;
      justify-content: center;
 }
#AI {
      background-color: #333;
      color: white;
      width: auto;
      height: auto;
      margin-left: 3px;
      font-family: Monospace;
      font-weight: 650;
      border: 1px solid white;
      border-radius: 3px;
      text-align: center;
      font-size: 25px;
      justify-content: center;
 }
#send, #send1, #send2 {
      background-color: #333;
      color: white;
      width: auto;
      height: 35px;
      margin-bottom: 6px;
      font-family: Monospace;
      font-weight: 650;
      border: 1px solid white;
      border-radius: 3px;
      text-align: center;
      font-size: 13px;
      text-align: center;
      justify-content: center;
 }
#back {
      background-color: #333;
      color: white;
      width: 20%;
      height: 35px;
      font-family: Monospace;
      font-weight: 650;
      border: 1px solid white;
      border-radius: 3px;
      text-align: center;
      font-size: 15px;
      display: none;
      text-align: center;
      justify-content: center;
}
#off {
      background-color: green;
      color: white;
      width: 60px;
      height: 60px;
      border: 2px solid white;
      border-radius: 3px;
 }
#error {
      background-color: red;
      color: white;
      width: 60px;
      height: 70px;
      border: 2px solid white;
      border-radius: 3px;
 }
.container {
      justify-items: center;
 }
h1, h2, h3, h4, h5, h6 {
      font-family: Monospace;
      margin: 1px;
 }
.desc {
  align-items: center;
  margin: auto;
  justify-self: center;
  text-align: left;
}
    #waktu, #tanggal, #infohp, #bt {
      font-family: Monospace;
      margin-left: 10px;
 }
#username, #username4, #username5 {
      padding: 10px;
      margin: 6px;
      color: #00ff00;
      background-color: black;
      font-family: Monospace;
      border-radius: 5px;
 }
#chat {
      padding: 10px;
      margin: 6px;
      width: 50%;
      color: #00ff00;
      background-color: black;
      font-family: Monospace;
      border-radius: 5px;
 }
#username1, #username2, #username3{
      padding: 10px;
      margin: 6px;
      width: 80%;;
      color: #00ff00;
      background-color: black;
      font-family: Monospace;
      border-radius: 5px;
 }
.kolom {
      width: 100%;
      display: flex;
      position: fixed;
      bottom: 50px;
      z-index: 1000;
 }
.login {
      display: none;
      align-items: center;
      justify-content: center;
 }